<div class="row">
    <div class="col-sm-9">
        <h4>Editing:</h4><h1><%=@theme.title %></h1>
        <br>
        <%= render 'form' %>
        <%= link_to 'Delete', themes_path, class: "pull-right" %>
    </div>
    <div class="col-sm-3">
        <br>
        <h2>Tips</h2>
        <ul>
            <li>Your <em>title</em> is displayed to other users.</li>
            <li>Tell us about your ipsum in the <em>info</em> field.</li>
            <li><em>keywords</em> are the words used to generate your ipsum.</li>
            <li>You can modify the percentage of lorem ipsum you combine.</li>
        </ul>

        <div class="pull-right">
            <%= link_to 'Show', @theme, class: "btn btn-success" %>
            <%= link_to 'Back', themes_path, class: "btn btn-default" %>

        </div>
    </div>
</div>
