<div class="row">
    <div class="container">
        <div class="col-sm-9">
            <h1 class="themename"><%= @theme.title %></h1>

        </div>
        <div class="col-sm-3 text-center">
            <%= gravatar_for @user%>
            <h3 class="themeuser"><%= @theme.user.name %></h3>
        </div>
    </div>
</div>


</div> <!-- end application-layout container for banner -->
    <div class="theme-banner">
        <%= image_tag @theme.image.url(:banner), class: "theme-image"%>
    </div>
<div class="container"> <!-- Start Container again -->
    <div class="row">
        <div class="col-sm-9 word-border">
            <em>
                <% @theme.keywords.split.each do |keyword| %>
                    <% @buttons = ['purple', 'carrot', 'sea', 'success', 'primary', 'danger', 'default', 'danger', 'warning', 'info'] %>
                    <span class="label label-<%= @buttons.shuffle.first %>"><%= keyword %></span>
                <% end %>
            </em>
        </div>
        <div class="col-sm-3">
            <%= @theme.info %></h3>
        </div>
    </div>

<div class="letter-slider">
    <h3>
        Number of paragraphs
    </h3>
    <input id="letterA" type="radio" name="letter">
    <label for="letterA">1</label>
    <input id="letterB" type="radio" name="letter">
    <label for="letterB">2</label>
    <input id="letterC" type="radio" name="letter">
    <label for="letterC">3</label>
    <input id="letterD" type="radio" name="letter">
    <label for="letterD">4</label>
    <input id="letterE" type="radio" name="letter">
    <label for="letterE">5</label>
    <input id="letterF" type="radio" name="letter">
    <label for="letterF">6</label>
</div>

    <strong><%= @theme.title %> Output:</strong>
    <%= render 'examples' %>
    <div id="hiddenp" class="pone"><%= ipsum_shuffle %></div>
    <div id="hiddenp" class="ptwo"><%= ipsum_shuffle %></div>
    <div id="hiddenp" class="pthree"><%= ipsum_shuffle %></div>
    <div id="hiddenp" class="pfour"><%= ipsum_shuffle %></div>
    <div id="hiddenp" class="pfive"><%= ipsum_shuffle %></div>
    <div id="hiddenp" class="psix"><%= ipsum_shuffle %></div>

<div class='wrapper'>
    <div class='ipsumtext'>
        <h3 class="text-center">
            Select the Number of paragraphs above to
            <%= image_tag "/assets/plathap.jpg", width: "300px" %>
            <br />display this themed lorem ipsum
        </h3>
    </div>
</div>

<div class="show-nav">
    <% if @theme.user == current_user %>
        <%= link_to edit_theme_path(@theme), class: 'btn btn-default pull-right' do %>
            Ipsum Settings <i class="fa fa-cogs"></i>
        <% end %>
    <% end %>
    <button type="button" onClick="history.go(0)" class="btn btn-warning pull-right">
        <i class="fa fa-refresh"></i>
    </button>
    <%= link_to themes_path, class: 'btn btn-default' do %>
        <i class="fa fa-chevron-circle-left"></i> <br/>Back
    <% end %>
    <%= link_to themes_path, class: 'btn btn-success' do %>
        <i class="fa fa-clipboard"></i> <br/>Copy
    <% end %>
</div>

<script>
    $(document).ready(function(){
        $("#letterA").click(function(){
            $('.ipsumtext').empty();
            $('.ipsumtext').append("<p class='paragraph1'></p>").append($('.pone').text());
        });
        $("#letterB").click(function(){
            $('.ipsumtext').empty();
            $('.ipsumtext').append("<p class='paragraph1'></p>").append($('.pone').text());
            $('.ipsumtext').append("<p class='paragraph2'></p>").append($('.ptwo').text());
        });
        $("#letterC").click(function(){
            $('.ipsumtext').empty();
            $('.ipsumtext').append("<p class='paragraph1'></p>").append($('.pone').text());
            $('.ipsumtext').append("<p class='paragraph2'></p>").append($('.ptwo').text());
            $('.ipsumtext').append("<p class='paragraph3'></p>").append($('.pthree').text());
        });
        $("#letterD").click(function(){
            $('.ipsumtext').empty();
            $('.ipsumtext').append("<p class='paragraph1'></p>");
            $('.ipsumtext').append("<p class='paragraph2'></p>");
            $('.ipsumtext').append("<p class='paragraph3'></p>");
            $('.ipsumtext').append("<p class='paragraph4'></p>");
            $('.paragraph1').append($('.pone').text());
            $('.paragraph2').append($('.ptwo').text());
            $('.paragraph3').append($('.pthree').text());
            $('.paragraph4').append($('.pfour').text());
        });
        $("#letterE").click(function(){
            $('.ipsumtext').empty();
            $('.ipsumtext').append("<p class='paragraph1'></p>");
            $('.ipsumtext').append("<p class='paragraph2'></p>");
            $('.ipsumtext').append("<p class='paragraph3'></p>");
            $('.ipsumtext').append("<p class='paragraph4'></p>");
            $('.ipsumtext').append("<p class='paragraph5'></p>");
            $('.paragraph1').append($('.pone').text());
            $('.paragraph2').append($('.ptwo').text());
            $('.paragraph3').append($('.pthree').text());
            $('.paragraph4').append($('.pfour').text());
            $('.paragraph5').append($('.pfive').text());
        });
        $("#letterF").click(function(){
            $('.ipsumtext').empty();
            $('.ipsumtext').append("<p class='paragraph1'></p>");
            $('.ipsumtext').append("<p class='paragraph2'></p>");
            $('.ipsumtext').append("<p class='paragraph3'></p>");
            $('.ipsumtext').append("<p class='paragraph4'></p>");
            $('.ipsumtext').append("<p class='paragraph5'></p>");
            $('.ipsumtext').append("<p class='paragraph6'></p>");
            $('.paragraph1').append($('.pone').text());
            $('.paragraph2').append($('.ptwo').text());
            $('.paragraph3').append($('.pthree').text());
            $('.paragraph4').append($('.pfour').text());
            $('.paragraph5').append($('.pfive').text());
            $('.paragraph6').append($('.psix').text());
        });
    });
</script>

