<%= link_to 'Users', users_path, class: 'navbar-brand' %>
<%= link_to 'About', '/pages/about', class: 'navbar-brand' %>
<%= link_to 'Ipsums', themes_path, class: 'navbar-brand' %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path, class: 'pull-right')  %>
  </li>
<% end %>
