<span class="navbar-brand">Platty Ipsum </span>
<li><%= link_to 'Users', users_path %></li>
<li><%= link_to 'About', '/pages/about' %></li>
<li><%= link_to 'Ipsums', themes_path %></li>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
