<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Platty Ipsum | The Ipsum Generator" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Lorem Ipsum Online Generator" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <header>
          <%= render 'layouts/navigation' %>
        </header>
        <main role="main">
           <%= render 'layouts/messages' %>
           <%= yield %>
           <%= render 'layouts/footer' %>
        </main>
    </div>
  </body>
</html>
